@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  cursor: none;
  background: #000000;
  overflow: hidden;
  background-size: cover;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(100vh) scale(0);
            transform: translateY(100vh) scale(0);
  }
  100% {
    -webkit-transform: translateY(-10vh) scale(0.2);
            transform: translateY(-10vh) scale(0.2);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(100vh) scale(0);
            transform: translateY(100vh) scale(0);
  }
  100% {
    -webkit-transform: translateY(-10vh) scale(0.2);
            transform: translateY(-10vh) scale(0.2);
  }
}

img {
  max-width: 100%;
  display: block;
}

.background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  z-index: -20;
  opacity: 0.4;
  min-height: 100%;
}

.background img {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 100vh;
  min-width: 100vw;
}

.cursor {
  width: 30px;
  height: 30px;
  border: 3px solid #FFFF;
  border-radius: 50%;
  position: absolute;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-animation: cursorAnim .5s infinite alternate;
          animation: cursorAnim .5s infinite alternate;
}

body {
  -webkit-animation: fadeInAnimation ease 3s;
          animation: fadeInAnimation ease 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cursor::after {
  content: "";
  width: 27px;
  height: 27px;
  position: absolute;
  border: 5px solid #3a3a3a;
  border-radius: 50%;
  opacity: .5;
  top: -6px;
  left: -6px;
  -webkit-animation: cursorAnim2 .5s infinite alternate;
          animation: cursorAnim2 .5s infinite alternate;
}

@-webkit-keyframes cursorAnim2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@keyframes cursorAnim2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@-webkit-keyframes cursorAnim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes cursorAnim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@-webkit-keyframes cursorAnim3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes cursorAnim3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

.expand {
  -webkit-animation: cursorAnim3 .5s forwards;
          animation: cursorAnim3 .5s forwards;
  border: 2px solid #ff0e6a;
}

.name {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 30px;
  position: relative;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bolder;
  text-shadow: 0px 0px 30px #ffffff;
  padding-top: 400px;
}

.tele {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: justify;
  color: #ff0e6a;
  text-shadow: 0px 0px 30px #ff0e6a;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.twit {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: justify;
  color: #ff0e6a;
  text-shadow: 0px 0px 30px #ff0e6a;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.behance {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: justify;
  color: #ff0e6a;
  text-shadow: 0px 0px 30px #ff0e6a;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  color: #ff0e6a;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}

a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .3s;
  transition: .3s;
  text-shadow: 0px 0px 30px #fff;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */